div#main {
  width: 8cm;
  height: 12cm;
}

button {
  height: 1cm;
  width: 1cm;
  outline: none;
  margin: 10px;
  border: 1mm solid black;
  border-radius: 5mm;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}